@charset "utf-8";
/* CSS Document */
html,body,div,p,ul,li,input,form,dl,dt,dd,img,h1,h2,h3,h4,h5,h6,h7{ margin:0px; padding:0px;}
body{font-size:12px;color:#333;font-family:Arial, Helvetica, sans-serif; background-color:#E6E6E6;}
ul,li{list-style:none;}
a{ text-decoration:none; color:#666;}
a:hover{ text-decoration:underline;color:#393;}
.hide{ display:none;}
.bold{ font-weight:bold;}
.all{ width:1004px; margin:0 auto; position:relative;}
.clr{ clear:both;height:0px; overflow:hidden;}
.red{ color:#e917af;}
img{border:none;}
button {cursor:pointer}
.wrap {width:1004px;margin:0 auto;}
.warpFix {margin-top:-20px}
.top{ margin-top:8px;_height:auto!important;/*ie6专用属性*/}
.text{text-indent:2em; line-height:160%; padding:20px; font-size:12px;}
.text h3{ width:100%; height:40px; font-size:18px; color:#390;line-height:30px; border-bottom:1px #696 dotted;}
.text .time{ width:100%; height:28px;color:#396; font-size:10px; text-align:right; display:block;}
.text2{line-height:160%; padding:20px; font-size:12px;}
.text2 strong{font-size:14px; color:#390; font-weight:700; line-height:33px;}
.text3{line-height:160%; padding:20px; font-size:14px;text-indent:2em; }
.text3 strong{font-size:16px; color:#390; font-weight:700; line-height:33px;}
.text3 img{ border:1px #CCC solid; padding:2px; float:left; margin:8px;}
.greenText{ font-size:18px; color:#390; font-weight:700; line-height:33px;}
.greenText2{ font-size:14px; color:#390; font-weight:700; line-height:33px;}
/*index*/
.bg{ background-color:#fff;}
.flash{ width:1004px; height:602px; margin-left:auto; margin-right:auto}
#headerBg{ width:100%; height:80px; background-image:url(img/headerBg.gif); background-repeat:repeat-y; background-position:center;}
.logo{ width:200px; height:80px; float:left;}
.logo h1{ display:block;}
.languageLink{ height:30px; margin-left:320px; margin-top:50px;float:left;}
.langLinkCss{ width:120px; height:20px; border:1px #9C0 solid; font-size:11px; color:#060}
.searchBg{ width:200px; height:50px; margin-top:24px;float:right; padding-right:20px;color:#FFF;}
.headerNav{ text-align:right; width:150px; height:26px; line-height:26px; padding-right:10px;}
.headerNav a{ color:#FFF;}
.headerNav a:hover{ color:#F90;}
.headerSearch{ width:180px;height:22px;}
.headerSearch span{ display:block;}
.search_s {float:left;width: 42px;}
.search_k {width:100px;padding-left:5px; float:left;}
.searchKbg{width:100px;height:16px;border:1px #9C0 solid; font-size:11px; color:#060}
.search_go {float: left;height: 14px;width: 14px;}
.seachBtn{ width:20px; height:20px; background-image:url(img/go.gif); background-repeat:no-repeat; margin-left:6px;border:none; cursor:pointer; overflow:hidden; background-color:transparent;}

/*nav*/
#navBg{position:relative;height:40px; background-color:#F0F0F0;border-bottom:1px #dbdbdb solid;z-index:100;}
.mainmenu {position:absolute;z-index:900;margin-left:-502px;width:1004px;left:50%; line-height:40px;filter:alpha(opacity=90);opacity:.90; text-align:center;}
.mainmenu ul.menu {padding:0;margin:0;list-style:none;overflow:hidden;float:left;background-color:#F0F0F0; border-right:1px #dbdbdb solid;}
.mainmenu ul.menu a {width:120px;text-decoration:none;color:#000;padding-left:5px; display:block; font-size:12px;}
.mainmenu ul.menu a.on{width:120px; background-color:#64A02F; color:#fff;} 
.mainmenu ul.menu li.list {float:left;width:250px;margin:-32767px -125px 0px 0px;}
.mainmenu ul.menu li.list a.category {position:relative;z-index:50;display:block;float:left;width:120px;margin-top:32767px;}
.mainmenu ul.menu li.list a.category:hover{background-color:#64A02F; color:#fff;margin-right:1px;}
.mainmenu ul.menu li.list a.category:focus,
.mainmenu ul.menu li.list a.category:active{margin-right:1px;}
/*鼠标点击后颜色*/
.mainmenu ul.submenu {float:left;padding:40px 0px 0px 0px;margin:0;list-style:none;background-color:#64A02F;margin:-40px 0px 0px 0px;}	
.mainmenu ul.submenu li a {float:left;width:120px;background:#64A02F;clear:left;color:#fff; border-top:1px #6C0 dotted;}
.mainmenu ul.submenu li a.endlist{background-color:#F90;}
.mainmenu ul.submenu li a.endlist:hover,
.mainmenu ul.submenu li a.endlist:focus,
.mainmenu ul.submenu li a.endlist:active {background-color:#F90;} 
.mainmenu ul.submenu a:hover,
.mainmenu ul.submenu a:focus,
.mainmenu ul.submenu a:active {background-color:#FC0;margin-right:1px;color:#333;}


/*banner*/
.banner{height:325px; width:772px; float:left;}
.bannerRight{ width:224px; height:325px;float:right;}
.bannerRight h2{ height:30px; color:#666; padding-left:10px; line-height:30px; font-size:14px;}
.bannerRight img{ width:222px; height:222px;overflow:hidden; border:1px #CCC solid; display:block;}
.bannerRight img:hover{border:1px #390 solid;}
.bannerRight .button{ background-color:#FFF;margin-top:4px;width:98px; height:30px; display:block;border:1px #CCC solid; line-height:30px;overflow:hidden; margin-right:10px; float:left;}
.bannerRight .button a{ display:block;background:url(img/icon02.gif) no-repeat left;padding-left:20px;}
.bannerRight .button a:hover{ background-color:#090; color:#fff;}
.rightBabotton{margin-top:4px;height:30px;}
.rightBabotton span{ display:block; border:none; margin:0px; width:30px; line-height:30px; background:none;}
#slideshow_wrapper {position:relative;overflow:hidden;width:100%;height:100%;}
#slideshow_photo {position:absolute;width:100%;height:100%;cursor:pointer;}
#slideshow_photo a { z-index:1;border:0px;position:absolute;margin:0px;display:block; top:0;left:0;}
#slideshow_footbar {z-index:5;position:absolute;width:100%;bottom: 0px;height: 30px}
#slideshow_footbar .slideshow-bt { background-color: #d2d3d4;margin:8px 8px 0px 0px; width:8px; display:inline; float:right;height:8px; font-size:0px;}
#slideshow_footbar .bt-on { background-color:#F90}

/*con*/
.indexConBg{ height:180px; border-bottom:3px #CCC solid; border-left:1px #CCC solid; border-right:1px #CCC solid;background-color:#fff; margin-top:10px;}
.conNewBg{ width:270px; float:left; padding-top:8px;}
.topDown{ width:184px; margin-left:1px;}
.topDown .downCon{ height:120px; margin-top:10px;}
.topDown .downCon li{background:url(img/icon02.gif) no-repeat left;padding-left:20px; height:22px;}

.newTit{height:27px;color:#fff;background-color:#72AE2D;}
.newTit h2{font-size:14px;float:left; width:100px; display:block; line-height:27px; padding-left:18px;*margin:2px 0; vertical-align:middle;}
.newTit span { width:50px; float:right;display:block; height:27px; line-height:27px; font-size:12px;}
.newTit span a{ color:#fff;}
.newTit span a:hover{ color:#fff;}
.newCon{ height:120px; margin-top:10px;}
.newCon ul{ margin-left:10px;}
.newCon li{ height:36px;}
.newCon li span{ font-size:10px; color:#72AE2D; width:80px; display:block;}

.conPro{ width:296px; margin-left:1px;}
.conProTit{ background-color:#479C31;}
.proCon{ height:120px; margin-top:8px;text-align:right;}
.proCon img{ width:120px; height:120px; float:left; border:1px #CCC solid;  margin:4px; padding:1px;}
.proCon img:hover{border:1px #093 solid;}
.proCon h3{ font-size:14px; color:#090; margin-bottom:4px; padding-right:8px;}
.proCon li{ height:22px;padding-right:8px;}

.conWork{ width:240px; margin-left:1px;}
.workCon{height:120px; margin-top:8px;}
.workCon img{ width:240px; height:120px; float:left; border:1px #CCC solid;padding:1px;}
.workCon img:hover{border:1px #093 solid;}

/*footer*/
.footBg{ height:36px; line-height:36px; color:#999; font-size:10px;}
.footLeft{ width:300px; float:left;}
.footRight{width:300px;float:right; text-align:right;}

/*about*/
.aboutBanner{position:relative;z-index:-100; width:1004px; height:269px;}
.aboutCon{height:auto;border-bottom:3px #CCC solid;border-left:1px #CCC solid;border-right:1px #CCC solid;background-color:#FFF;}
.leftBg{width:226px; float:left; padding-left:10px; padding-top:10px; border-bottom:none; background-color:#FFF;}

.conTit{height:36px;background:url(img/conTit.gif) right top;color:#FFF; font-weight:normal; font-size:16px; line-height:36px; padding-left:20px; font-weight:700;}

.leftBg dl{overflow:hidden;}
.leftBg dt{height: 25px;line-height: 25px; border-bottom:4px #CAE2AD solid;}
.leftBg dt a{background-image:url(img/leftList.gif);background-repeat:repeat-x;list-style-type: none;height: 26px;line-height: 26px;padding-left: 22px;color: #FFF;display: block;}
.leftBg dt a:hover{color: #FF0; background-image:url(img/leftListHover.jpg); background-repeat:repeat-y;text-decoration:none;}
.leftBg dd{background-color:#CAE2AD; height:22px; border-bottom:2px #fff solid; display:block;}
.leftBg dd a{line-height:22px;padding-left: 26px;color:#59723B;display: block;}
.leftBg dd a:hover{color: #000; background-color:#FFF;text-decoration:none;}
.leftListBot{ height:36px; background-image:url(img/leftListBot.gif); background-repeat:repeat-x;}

.rightBg{width:745px; float:right;margin-top:-40px; background:url(img/rightBg.gif) top left no-repeat; padding:10px; padding-right:0px;background-color:#FFF;}
.rightBg h4{ width:700px; height:30px; background-color:#dedede; color:#000; font-size:14px; line-height:30px; padding-left:20px; display:block;}
.rightTit{ height:37px; background:url(img/news_b.jpg) left top; margin-bottom:20px;}
.rightTit h3{ color:#fff; font-size:18px; line-height:37px; padding-left:10px;}
.line{ height:20px; border-bottom:1px #9C6 solid; margin-bottom:10px;}

.newList { padding-left:10px; width:80%;}
.newList li{background-image:url(img/iocn02.gif); background-repeat:no-repeat; background-position:top; background-position:left; padding-left:16px; line-height:30px; border-bottom:1px #CCC dashed;}
.newList li span{font-size:10px; color:#72AE2D; width:80px; display:block; float:left;}
.newList li strong{font-size:10px;width:80px; display:block; float:right; background-image:url(img/newdt.jpg); background-position:left; background-repeat:no-repeat; padding-left:20px;}
.newList li strong a{color:#72AE2D; }
.newList img{margin:10px;}
.newList h4{ width:100%; height:33px;line-height:33px; text-align:center; border-bottom:1px #CCC solid; font-size:18px; font-weight:normal;}

.activeCon{ width:600px;}
.activeCon li{ border:1px #CCC solid; padding:10px; margin-top:10px;}
.activeCon li img{margin:10px;}
.activeCon li p{background-image:url(img/iocn02.gif); background-repeat:no-repeat; background-position:top; background-position:left; padding-left:16px; line-height:30px; border-bottom:1px #CCC dashed;}
.activeCon li span{ width:120px; height:30px; line-height:30px; margin-top:10px; margin-bottom:10px; background:none; display:block;}
.activeCon li span a{ width:120px; height:30px;background-color:#FC0; color:#000; display:block; text-align:center; border:none;}
.activeCon li span a:hover{ background-color:#390;color:#fff;}

.team{ width:320px;float:left; margin-right:20px; margin-bottom:10px;}
.team img{ border:1px #0C3 solid; padding:2px; margin:8px;}
.team ul{ margin-left:10px; border-left:1px #6C6 solid; padding-left:10px;}
.team li{ background-image:url(img/iocn02.gif); background-repeat:no-repeat; background-position:top; background-position:left; padding-left:16px; line-height:22px;}

.downLoad { width:100%; margin-top:10px;}
.downLoad li{float:left;  margin:8px;}
.downLoad li img{border:1px #0C3 solid; padding:2px;}
.downLoad li img:hover{border:1px #F60 solid; padding:2px;}
.downLoad p{background:url(img/icon02.gif) no-repeat top left;font-size:12px;width:130px; display:block; padding-left:20px;line-height:22px;}
/*pages*/
.pages {position:relative;height:33px;color:#000;overflow:hidden;z-index:1; margin:20px auto;}
.pages div {margin:0 auto;}
.pages a {float:left;width:22px;height:22px;margin-right:3px;border:1px solid #bdbcbd;color:#000;font:700 12px/22px Arial, Helvetica, sans-serif;text-align:center;overflow:hidden} 
.pages a.first,.pages a.last {width:60px;border-color:#bdbcbd;color:#000;font-weight:400}
.pages a:hover,.pages a.current {color:#F30;background:#093;color:#fff}
.pages span {float:left;line-height:22px;padding:0 5px; width:200px;}
.pages em{color:#093;font-style:normal}

.invTitBg {margin:20px auto; height:30px; border-bottom:1px #093 solid;}
.invTitBg ul {  margin-left:120px;}
.invTitBg li { width:130px; height:30px; line-height:30px; font-size:14px; font-weight:700; text-align:center; float:left; margin-left:10px; background-image:none;}
.invTitBg li a {display:block; color:#000;}
.invTitBg li a:hover {background-color:#390; color:#FFF }
.invTitBg li.on {background-color:#390; color:#FFF}
.invTitBg li a.selected {background-color:#390; color:#FFF}
/*产品列表*/
.pro_list { padding-top:15px; }
.pro_list li { float: left; line-height: 25px; width: 155px; margin-top:20px; background-image:none; margin-right:10px;}
.pro_list li a { display: inline-block; width: 155px; border: solid 1px #D8D8D7; text-align: center; padding: 8px 0px 8px 0px; font-size: 12px;}
.pro_list li a:hover { display: inline-block; width: 155px; border: solid 1px #117138; font-size: 12px; color: #117138; }

/*产品详细页-太阳能*/
.pro_con {display: inline-block;}
.pro_con p { line-height: 23px; }
.pro_con_tit { width: 740px; height: 30px; line-height: 30px; background: #F3F3F3; color: #117138; font-size: 14px; font-weight: bold; text-align: center; }
.main_pro_img{ width:120px; height:240px; padding:4px; border:1px #063 solid; margin:10px; float:left;}
.proRight{ width:500px; float:left; padding-top:10px;}
.proRight li{ background:url(img/iocn02.gif) no-repeat left; padding-left:18px; line-height:26px;}
.pro_box { padding-top: 20px; padding-bottom: 40px; display: inline-block; width: 740px; }
.member_tab { width: 100%; border-collapse: collapse; background: #F3F3F3; }
.member_tab td { border: solid 1px white; line-height: 28px; height: 28px; }

/*下载中心详细页-安装手册*/
.down_con { padding-top: 15px; display: inline-block; }
.down_con p { line-height: 23px; }
.step_img { float: left; width: 192px; }
.step_img_con { float: left; width: 500px; }
.subBot{ width:97px; height:24px; background-image:url(img/bot.gif); text-indent:-999; border:none;}

/*案例*/
.workList{ width:680px; margin-top:20px; margin-bottom:20px;height:113px; border:1px #CCC solid; padding:8px;}
.workList img{ width:150px; height:113px;border:1px #CCC solid; float:left;}
.workList .right{ width:350px;height:113px; float:left; margin-left:20px;}
.workList .right h4{ width:300px; height:30px; background-color:#096; color:#fff; padding-left:20px; line-height:30px; margin-bottom:10px;}
.workList .right p{background:url(img/iocn02.gif) no-repeat left; line-height:22px; padding-left:20px;}
.workList .more{ width:130px; height:33px; margin-top:40px; line-height:33px; float:right;}
.workList .more a{ display:block; width:110px; height:100%; border:1px #CCC solid; background:url(img/icon03.gif) no-repeat left;padding-left:20px;}
.workList .more a:hover{ border:1px #0C0 solid; background-color:#090; color:#fff;}

/*contact*/
.contact{ width:700px; padding:8px; border-bottom:1px #090 solid;}
.contact li{width:700px; border-top:1px #ccc solid; height:60px; padding-bottom:10px; padding-top:8px; line-height:18px; margin-top:10px; float:left;}
.contact li strong{ width:140px;display:block; float:left;}
.contact li .span{width:260px;display:block; float:left; padding:6px;}
.contact li .b{ color:#F60;}
.workConBg{ position:relative; height:499px;}